<h1>編集ページ</h1>

<div>
 <%= form_with model: @user, local: true do |f| %>
  <%= f.text_field :nickname, class:"#", id:"#", placeholder:"ニックネーム" %>
  <%= f.text_field :email, class:"#", id:"#", placeholder:"メール" %>
  <%= f.text_field :password, class:"#", id:"#", placeholder:"パスワード" %>
  <%= f.submit "更新" %>
 <% end %>
</div>


<%= link_to  "もどる", user_path %>