<h1 class="new-title">マイページ</h1>
<%= link_to  "TOPにもどる", root_path %>

<div class="my-page">
<div class="user">
<% if @profile.image.present? %>
  <div><%= image_tag @profile.image.variant(resize:'200x200'),class:"rounded-circle"%></div>
<% else %>
    <p>画像はありません</p>
<% end %>
<div class="mypage-list"><%= "ユーザー名：#{@user.nickname}" %></div>
<div class="mypage-list"><%= "Email：#{@user.email}" %></div>
<%= link_to  "ユーザー情報の編集", edit_user_path %>
</div>

<div class="profile">
<p class ="profi">[プロフィール]</p>
  <div class="mypage-list"><%= "自己紹介：#{@profile.introduction}" %></div>
  <div class="mypage-list"><%= "好きなマンガ：#{@profile.best_comic}" %></div>
  <div class="mypage-list"><%= "好きなジャンル：#{@profile.like_category}" %></div>
</div>
</div>