<h1>投稿ページ</h1>
<div class="#">
 <%= form_with model: @comic, local: true do |f| %>
  <%= f.file_field :image, id:"#" %>
  <%= f.text_area :name, class:"#", id:"#", placeholder:"タイトル" %>
  <%= f.text_field :author, class:"#", id:"#", placeholder:"作者" %>
  <%= f.text_field :volume, class:"#", id:"#", placeholder:"巻数" %>
  <%= f.collection_select(:magazine_id, Magazine.all, :id, :name, {prompt: "---"}, {class:"#"}) %>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt: "---"}, {class:"#"}) %>
  <%= f.submit "送信" %>
 <% end %>
</div>
<%= link_to  "戻る", root_path %>