<h1>投稿ページ</h1>
<div class="#">
 <%= form_with model: @comic, local: true do |f| %>
  <%= f.file_field :image, id:"image" %>
  <%= f.text_area :name, class:"#", id:"#", placeholder:"タイトル" %>
  <%= f.text_field :author, class:"#", id:"#", placeholder:"作者" %>
  <%= f.text_field :volume, class:"#", id:"#", placeholder:"巻数" %>
  <%= f.collection_select(:magazine_id, Magazine.all, :id, :name, {prompt: "---"}, {class:"#"}) %>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt: "---"}, {class:"#"}) %>
  <div class="field" id="star">
  <%= f.hidden_field :rate, id: :star %>
  </div>
  
  <script>
  $('#star').raty({
  size     : 36,
  starOff: '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf:'<%= asset_path('star-half.png') %>',
  scoreName: 'comic[rate]',
  half: true
        });
  </script>

  <%= f.submit "送信" %>
  <div id="image-list"></div>
 <% end %>
</div>
<%= link_to  "戻る", root_path %>