<%= render "shared/header" %>

<div class="show-main">
<div class="show-image">
<%= image_tag @comic.image, :size =>'350x500'%>
 <%= "タイトル：#{@comic.name}" %>
 <%= "作者：#{@comic.author}" %>
 <%= "発行巻数：#{@comic.volume}" %>
  <div id="star"><%= "評価：#{@comic.rate}" %></div>
  <script>
        $('#star').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= @comic.rate %>,
        });
        </script> 
 </div>
<div class="comment">
  <% if user_signed_in? %>
    <%= form_with(model: [@comic, @post], local: true, id: "form") do |form| %>
    <%= form.text_area :text, placeholder: "コメントはこちら", class:"#", rows: "2", id: "text"%>
    <%= form.submit value:"コメントする" ,class:"#", id: "submit"%>
    <% end %>
  <% else %>
    <strong><p>※コメントの投稿は新規登録orログインをお願いします※</p></strong>
  <% end %>

  <div class="#" >
      <h4 class="#">＜コメント一覧＞</h4>
      <% if @posts %>
        <% @posts.reverse_each do |post| %>
          <ul class="post_group">
            <li><%="#{post.user.nickname} ：#{post.text}" %></li>
          </ul>
        <% end %>
      <% end %>
  </div>
<%= link_to  "編集する",  edit_comic_path, method: :get, class: "#" %>
<%= link_to '削除', comic_path, method: :delete, class:'#' %>

</div>

<%= link_to  "もどる", root_path %>

</div>
<%= render "shared/footer" %>