
<h1 class="new-title">カテゴリー　一覧</h1>
<h3><%= link_to  "もどる", root_path %><h3>

<div class="category">
<div class="category-title">少年コミックス</div>
<h3><%= link_to  "少年ジャンプ", category_path(1) %><h3>
<h3><%= link_to  "少年マガジン", category_path(2) %><h3>
<h3><%= link_to  "少年サンデー", category_path(3) %><h3>
<h3><%= link_to  "少年チャンピオン", category_path(4) %><h3>

<div class="category-title">青年コミックス</div>
<h3><%= link_to  "ヤングジャンプ", category_path(5) %><h3>
<h3><%= link_to  "ヤングマガジン", category_path(6) %><h3>
<h3><%= link_to  "ヤングサンデー", category_path(7) %><h3>
<h3><%= link_to  "ヤングチャンピオン", category_path(8) %><h3>
<h3><%= link_to  "ビッグコミック", category_path(9) %><h3>
<h3><%= link_to  "モーニング", category_path(10) %><h3>
<h3><%= link_to  "アフタヌーン", category_path(11) %><h3>
<h3><%= link_to  "スピリッツ", category_path(12) %><h3>

<div class="category-title">少女、レディースコミックス</div>
<h3><%= link_to  "デザート", category_path(13) %><h3>
<h3><%= link_to  "ココハナ", category_path(14) %><h3>
<h3><%= link_to  "フラワーズ", category_path(15) %><h3>
<h3><%= link_to  "Cheese!", category_path(16) %><h3>
<h3><%= link_to  "ガレット", category_path(17) %><h3>
<h3><%= link_to  "クッキー", category_path(18) %><h3>

<div class="category-title">その他</div>
<h3><%= link_to  "その他", category_path(19) %><h3>
</div>
