<% @comics.each do |comic| %>
    <div><%= "雑誌：#{comic.magazine[:name]}" %></div>
  <%= link_to comic_path(comic.id) do %>
  <div class="#"><%= image_tag comic.image.variant(resize:'200x200')%></div>
  <% end %>
  <div><%= "タイトル：#{comic.name}" %></div>
  <div><%= "作者：#{comic.author}" %></div>
  <div><%= "発行巻数：#{comic.volume}" %></div>
<% end %> 
<h3><%= link_to  "もどる", root_path %><h3>

